.blue {
    color:rgb(66,133,244);
  }
  
  .red {
    color:rgb(219,68,55);
  }
  
  .yellow {
    color:rgb(244,160,0);
  }
  
  .green {
    color:rgb(15,157,88);
  }
  
  .underline {
    text-decoration: underline;
  }